
<table border="1">
   <tr>
      <th>ATM</th>
      <th>Amount</th>
      <th>Transaction type</th>
      <th>Transaction Time</th>
     </tr>
     <% @transactions.each do |transaction| %>
     <tr>
          <td><%= transaction.atm_machine_id %></td>
        <td><%= transaction.amount %></td>
        <td><% transaction.transaction_type%></td>
        <td><%= transaction.created_at%></td>
     </tr>
     <% end %>
     </table>